.cursor{
    cursor: pointer;
    color: white;
}

.back{
    background: linear-gradient(26deg,  #922133 8%, #830288 50%, #f78a4a 69%)!important;
    padding-left: 30px;
    justify-content: end;
}

.button{
    color: #f78a4a90;
}

.text-decorator-none{
        text-decoration: none;
}

.navright {
    margin-left: auto!important;
}