.text-decorator{
    text-decoration: none;
}

.img-lateral{
    background-image: url("../../img/abduction.jpg");
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textolog{
    margin-top: 180px;
    animation: pulsate 1.0s ease-in-out infinite alternate;
    color: white !important;
    text-decoration: none;
}

.login2{
    background-image: url('../../img/gaçaxy.png');
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-position: center;
}

.titulohome2{
    margin-top: 180px;
    color: white !important;
}



