.text-decorator{
    text-decoration: none;
}

.img-lateral{
    background-image: url("../../img/homeretsuko.jpg.crdownload");
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textolog{
    margin-top: 180px;
    animation: pulsate 1.0s ease-in-out infinite alternate;
    color: white !important;
    text-decoration: none;
    margin-top: 200px !important;
}

.login2{
    background-color:  #922133;
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.titulohome2{
    margin-top: 180px;
    color: white !important;
    text-decoration: none;
    margin-top: 200px !important;
}

.log{
    animation: pulsate 1.0s ease-in-out infinite alternate;

}





