.rede{
    font-size: 50px !important;
    color: white;
}

.texto{
    color: white;
}

.box1{
    background: linear-gradient(46deg,  #922133 8%, #830288 50%, #f78a4a 69%)!important;
    padding-left: 30px;
    justify-content: flex-start;
}

.box2{
    background-color: #f78a4a;
    height: 55px
}