.background{
    background-image: url("../../img/9EULb8.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    min-height: calc(100vh - 64px);

    background-size: cover;
    background-position: center;
}

.card{
    background: linear-gradient(36deg, #03247c90 8%, #f78a4a90 79%);
}

.form{
    width: 270px;
}

.form-input{
    width: 100%;
}

.form-title{
    font-weight: bold;
    color: #fff;
}

.MuiInput-underline:after,
.MuiInput-underline:before{
    border-bottom: 2px solid #fff!important;
}

.MuiFormLabel-root,
.MuiFormLabel-root.Mui-focused,
.MuiInputBase-root{
    color: #fff!important;
}

.titulohome{
    margin-top: 180px;
    animation: pulsate 2.0s ease-in-out infinite alternate;
    color: white !important;
    
}

@keyframes pulsate {
    100%{
        text-shadow:
        0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #c75c04,
      0 0 80px #c75c04,
      0 0 90px #c75c04,
      0 0 100px #c75c04,
      0 0 150px #c75c04;
    }
    0%{
        text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #c75c04,
      0 0 73px #c75c04,
      0 0 80px #c75c04,
      0 0 94px #c75c04,
      0 0 140px #c75c04;
    }
}

.titulohome2{
    margin-top: 180px;
    color: white !important;
}

.box{
    border-color: white; 
    border-radius: 20px;
    color: white;
}



