.imgcadastro{
    background-image: url(https://payload.cargocollective.com/1/22/708406/14158876/halloween.gif);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textocad{
    font-weight: bold !important;
    color: black !important;
}

.botaocancel{
    margin-right: 40px !important;
}