.imgcadastro{
    background-image: url(../../img/retsuko.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: right;
}

.textocad{
    margin-top: 180px;
    color: white !important;
    text-decoration: none;
    margin-top: 200px !important;
}

.botaocancel{
    margin-right: 40px !important;
}

.cadastro{
    background-color: #f79517;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}